$COLOR_PRIMARY: black;
$COLOR_WHITE: white;

html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#scatter-stats-row {
  display: grid;
}

#container-dataloader {
  .loader {
    .loader-animation {
      margin: 0 auto;
    }
    .loader-text {
      color: white;
      text-align: center;
    }
  }
}

.container {
  //background-color: lightblue;
  overflow: hidden;
}

#container-header {
  .heading-text {
    margin: 5px;
    color: white;
    height: 100%;
  }
}

#container-scatter {
  svg,
  canvas {
    position: absolute;
  }

  #chart {
    background-color: white;
  }
}

#container-categories {
  svg,
  canvas {
    position: absolute;
  }
}

canvas {
  background-color: transparent;
}

#container-timeline {
  #timeslider-minmax-labels {
    display: block;
    width: 100%;
    .timeslider-label {
      position: absolute;
      color: white;
      font-size: 12px;
      margin: 10px;
      top: 0;
    }
    .timeslider-label-min {
      left: 0;
    }
    .timeslider-label-max {
      right: 0;
    }
  }
  #timeslider-input {
    position: absolute;
  }
  #timeslider-selected-labels {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: black;

    .timeslider-selected-label {
      position: absolute;
      width: auto;
      white-space: nowrap;
    }
  }

  #section-selector {
    margin-left: 30px;

    #selector-title {
      font-weight: bold;
      color: white;
    }
  }
}

#container-categories {
  padding-left: 10px;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  overflow-y: auto;

  .category-panel {
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    .category-label {
      margin-left: 10px;
      vertical-align: middle;
      font-weight: 600;
      font-size: 15px;
    }

    .category-chart {
      background-color: white;
    }
  }
  .category-violin {
    path {
      stroke-linejoin: round;
      stroke-miterlimit: 0;
      stroke-linecap: round;
    }
  }
}
