$COLOR_SELECTION: #eb5e28;
$COLOR_BACKGROUND: #252422;
$COLOR_SECONDARY1: #403d39;
$COLOR_UNSEECTED: #ccc5b9;
$COLOR_WHITE: #fffcf2;

html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $COLOR_BACKGROUND;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#scatter-stats-row {
  display: grid;
}

#container-dataloader {
  .loader {
    .loader-animation {
      margin: 0 auto;
    }
    .loader-text {
      color: $COLOR_WHITE;
      text-align: center;
    }
  }
}

.container {
  //background-color: lightblue;
  overflow: hidden;
}

#container-header {
  .heading-text {
    margin: 5px;
    color: $COLOR_WHITE;
    height: 100%;
  }
}

#container-scatter {
  svg,
  canvas {
    position: absolute;
  }

  #chart {
    background-color: $COLOR_WHITE;
  }
  .axis-lines {
    color: $COLOR_WHITE;
  }

  .active-point {
    font-size: 12px;
  }
}

#container-categories {
  svg,
  canvas {
    position: absolute;
  }
}

canvas {
  background-color: transparent;
}

#container-timeline {
  #timeslider-minmax-labels {
    display: block;
    width: 100%;
    .timeslider-label {
      position: absolute;
      color: $COLOR_WHITE;
      font-size: 12px;
      top: 0;
    }
    .timeslider-label-min {
      left: 0;
    }
    .timeslider-label-max {
      right: 0;
    }
  }
  #timeslider-input {
    position: absolute;
  }
  #timeslider-selected-labels {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: $COLOR_SELECTION;

    .timeslider-selected-label {
      position: absolute;
      width: auto;
      white-space: nowrap;
    }
  }

  #section-selector {
    margin-left: 30px;

    #selector-title {
      font-weight: bold;
      color: $COLOR_WHITE;
    }
  }
}

#container-categories {
  padding-left: 10px;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  overflow-y: auto;

  .category-panel {
    background-color: $COLOR_SECONDARY1;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    .category-label {
      color: white;
      margin-left: 10px;
      vertical-align: middle;
      font-weight: 600;
      font-size: 15px;
      // text-shadow: 1px 0 $COLOR_WHITE, 0 1px $COLOR_WHITE, -1px 0 $COLOR_WHITE,
      // 0 -1px $COLOR_WHITE;
    }

    .category-chart {
      background-color: $COLOR_WHITE;
    }
  }
  .category-violin {
    path {
      stroke-linejoin: round;
      stroke-miterlimit: 0;
      stroke-linecap: round;
    }

    .axis-lines {
      color: $COLOR_WHITE;
    }
  }
}

#container-legend {
  #legend-list-heading {
    font-weight: 600;
    color: $COLOR_WHITE;
  }
  #legend-list {
    .legend-list-item {
      cursor: pointer;

      .legend-list-item-icon {
        svg {
          margin-top: 0px;
        }
      }

      .legend-list-item-label {
        rotate: 90deg;
        margin-left: 0px;
        margin-top: 3px;
        white-space: nowrap;
      }
    }
  }
  .axis-lines {
    color: $COLOR_WHITE;
  }
}
