html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#scatter-stats-row {
  display: grid;
}

#container-dataloader {
  .loader {
    font-size: 200px;
  }
}

.container {
  background-color: blue;
  overflow: hidden;
}

#container-header {
  .heading-text {
    margin: 5px;
    height: 100%;
  }
}
